.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 451px) {
    .Burger {
        width: 450px;
    }
}

@media (min-height: 301px) {
    .Burger {
        height: 300px;
    }
}