.Exercise3 header {
    height: 56px;
    width: 100%;
    z-index: 90;
    background-color: white;
}
  
.Exercise3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Exercise3 li {
    display: inline-block;
    margin: 20px;
}

.Exercise3 a {
    text-decoration: none;
    color: black;
}

.Exercise3 a:hover,
.Exercise3 a:active,
.Exercise3 a.active {
    color: #fa923f;
}