.App {
  text-align: center;
}

#ex-select {
  margin: 15px 0;
  width: 100px;
}

#sec-select {
  margin: 15px 0;
  width: 120px;
}

#content-toggle {
  margin: 15px 0 0;
  width: 115px;
  text-align: center;
}

.App .AppNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App .AppNavItem {
  display: inline-block;
  margin: 20px;
}

.App .AppNavLink {
  text-decoration: none;
  color: black;
}

.App a:hover,
.App a:active,
.App a.active {
  color: #fa923f;
}